# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Jest Coverage
coverage/

# Environment variables file
.env

# Build output
/dist
/build

# IDE specific
.vscode/
.idea/

# Operating System specific
.DS_Store
Thumbs.db

# Temporary files
*.swp
