# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Jest Coverage
coverage/

# Environment variables file
.env

# Build output
/dist
/build

# IDE specific
.vscode/
.idea/

# Operating System specific
.DS_Store
Thumbs.db

# Temporary files
*.swp

# Software Documentation
SoftwareDocumentation.md

# git commands to tree project
find . -type d \( -name 'node_modules' -o -name 'dist' -o -name 'build' -o -name '*.cache' -o -name '*.tmp' -o -name '*.git' \) -prune -o -print 
